@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";

@import "vars";
@import "node_modules/bootstrap/scss/variables";

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/images";

@include media-breakpoint-up(md) {
	body {
		padding-top: 68px;
	}
}

.col-lg-2-4{
	@include media-breakpoint-up(lg) {
		@include make-col(2.4)
	}
}
.col-md-2-4{
	@include media-breakpoint-up(md) {
		@include make-col(2.4)
	}
}
.col-sm-2-4{
	@include media-breakpoint-up(sm) {
		@include make-col(2.4)
	}
}

#aws-page-footer {
	margin-top: 0;
}

.mainonaws {
	* {
		font-family: AmazonEmber,Helvetica Neue,Helvetica,Arial,sans-serif;
	}
	.container .row {
		margin: unset;
	}
	.btn {
		display: inline-block;
		min-width: 25rem;
		padding: 0.7rem 1.6rem;
		border-radius: 0.3rem;
		border: 1px solid;
		line-height: 1.4;
		text-align: center;
		font-size: 1.4rem;
		font-weight: 500;
		text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
		color: #333;
		&:visited {
			color: #333;
		}
		&.btn-primary {
			border-color: #be952c #a68226 #9b7924;
			background-color: #eeba37;
			background-image: linear-gradient(180deg,#fee6b0 0,#eeba37);
			&:hover {
				border-color: #a98527 #917221 #86691f;
				background-image: linear-gradient(180deg,#fede97 0,#ecb21f);
			}
		}
		&.btn-secondary {
			border-color: #d5dbdb;
			background-color: #fafafa;;
			background-image: linear-gradient(180deg,#fafafa 0,#eaeded);
			&:hover {
				border-color: #c6cccc;
				background-color: #e0e3e3;
				background-image: linear-gradient(180deg,#f5f5f5 0,#e0e3e3);
			}
		}
		&:hover {
			text-decoration: none;
			color: #333;
		}
	}
	@import "custom-woa";
}